<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
    <body>
    {% block body %}{% endblock %}
    <footer>
        <hr/>
        &copy; Decima
    </footer>
    {% block javascripts %}{% endblock %}
    </body>
</html>
